<div class="container">
  <form action="/records" method="POST">
    <div class="mb-2">
      <label for="name">
        名稱<span class="text-danger">*</span>
      </label>
      <input type="text" class="form-control" id="name" name="name" placeholder="飲料" required>
    </div>
    <div class="mb-2">
      <label for="name">
        日期<span class="text-danger">*</span>
      </label>
      <input type="date" class="form-control" id="name" name="date" placeholder="" required>
    </div>
    <div class="mb-2">
      <label for="category" class="form-label">分類<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="category" placeholder="餐飲食品" list="categoryOptions" name="category"
        required />
      {{! 使用datalist，讓使用者可選擇或自行輸入 }}
      <datalist id="categoryOptions">
        <option>家居物業</option>
        <option>交通出行</option>
        <option>休閒娛樂</option>
        <option>餐飲食品</option>
        <option>其他</option>
      </datalist>
    </div>
    <div class="mb-2">
      <label for="name">
        金額<span class="text-danger">*</span>
      </label>
      <input type="text" class="form-control" id="name" name="amount" placeholder="金額" required>
    </div>
    <div class="mb-2">
      <button type="submit" class="btn btn-primary">新增支出</button>
    </div>
  </form>
</div>